$color-1er : #579c87;
$color-2e  : #fdcb46;

@mixin couleurs_vert_jaune{
    background-color: $color-1er;
    color: $color-2e ;
}

/*********** header ***********/ 

header{
    @include couleurs_vert_jaune;
    height : 80px;
}

header h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
}

/********** section ***********/ 

section{
    margin: 80px 60px;
    text-align: justify;
}

h2{
    text-align: center;
}

/********** footer ************/ 

footer{
    @include couleurs_vert_jaune;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    font-family: 'Montserrat Extra-light', sans-serif;
    font-weight: 200;
    font-size: 22px;
}

footer a{
    color:  $color-2e ;
    text-decoration: none;
}

