html {
  background-color: #ffffff;
}

body {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin: 0px auto;
}

/*********** header ************/
header {
  background-color: #579c87;
  color: #fdcb46;
  height: 80px;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 20px;
  margin-top: 0px;
}

/*********** section ***********/
section {
  text-align: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside p {
  margin: 50px;
}

aside a {
  background-color: #579c87;
  color: #fdcb46;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Montserrat Extra-light', sans-serif;
  font-weight: 200;
  text-decoration: none;
}

@-webkit-keyframes jumpdot {
  0% {
    -webkit-transform: translateY(0.3em);
            transform: translateY(0.3em);
  }
  100% {
    -webkit-transform: translateY(-0.3em);
            transform: translateY(-0.3em);
  }
}

@keyframes jumpdot {
  0% {
    -webkit-transform: translateY(0.3em);
            transform: translateY(0.3em);
  }
  100% {
    -webkit-transform: translateY(-0.3em);
            transform: translateY(-0.3em);
  }
}

.anim-point1, .anim-point2, .anim-point3 {
  width: 6px;
  height: 6px;
  border-radius: 30%;
  background-color: #fdcb46;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-animation-name: jumpdot;
          animation-name: jumpdot;
  -webkit-animation-duration: 550ms;
          animation-duration: 550ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  display: inline-block;
}

.anim-point2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.anim-point3 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

/************ footer ***********/
footer {
  background-color: #579c87;
  color: #fdcb46;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 20px;
  font-family: 'Montserrat Extra-light', sans-serif;
  font-weight: 200;
  font-size: 22px;
}

footer a {
  color: #fdcb46;
  text-decoration: none;
}

/* ---- menu la note enchantee ---- */
.menu_la_note_enchantee {
  background-color: #fcdfdb;
  -webkit-box-shadow: 4px 4px 4px 4px #eeeeee;
          box-shadow: 4px 4px 4px 4px #eeeeee;
  border: 1px solid #eeeeee;
  width: 400px;
  height: 500px;
  margin: 50px 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.menu_la_note_enchantee .fa-music {
  background-image: linear-gradient(155deg, #f05360, #f78f6a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.menu_la_note_enchantee p {
  font-family: 'Satisfy', cursive;
}

.menu_la_note_enchantee h2 {
  font-family: 'Rubik', sans-serif;
}

.contenu {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 280ms;
  transition: -webkit-transform 280ms;
  transition: transform 280ms;
  transition: transform 280ms, -webkit-transform 280ms;
}

.contenu:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* ---- menu le chic a la francaise ---- */
.menu_Le_chic_a_la_francaise {
  background-color: #fff5fe;
  -webkit-box-shadow: 4px 4px 4px 4px #eeeeee;
          box-shadow: 4px 4px 4px 4px #eeeeee;
  border: 1px solid #eeeeee;
  width: 400px;
  height: 500px;
  margin: 50px 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.menu_Le_chic_a_la_francaise p {
  font-family: 'Croissant One', cursive;
  background-image: linear-gradient(155deg, #d18c3e, #9663fb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.menu_Le_chic_a_la_francaise h2 {
  font-family: 'PT Serif', serif;
  background-image: linear-gradient(155deg, #d8852e, #c77412);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

/* ---- menu le delice des papilles ---- */
.menu_le_delice_des_papilles {
  background-color: #f9f9f9;
  -webkit-box-shadow: 4px 4px 4px 4px #eeeeee;
          box-shadow: 4px 4px 4px 4px #eeeeee;
  border: 1px solid #eeeeee;
  width: 400px;
  height: 500px;
  margin: 50px 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.menu_le_delice_des_papilles p {
  font-family: 'Dancing Script', cursive;
  background-image: linear-gradient(155deg, #0736e0, #6db8f9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.menu_le_delice_des_papilles h2 {
  font-family: 'Kalam', cursive;
  font-weight: 300;
  font-family: 'Dancing Script', cursive;
  background-image: linear-gradient(155deg, #0887fb, #5bacf9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

/* ---- menu la palette du gout ---- */
.menu_la_palette_du_gout {
  background-color: #fdfffd;
  -webkit-box-shadow: 4px 4px 4px 4px #eeeeee;
          box-shadow: 4px 4px 4px 4px #eeeeee;
  border: 1px solid #eeeeee;
  width: 400px;
  height: 500px;
  margin: 50px 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.menu_la_palette_du_gout p {
  font-family: 'Kaushan Script', cursive;
  background-image: linear-gradient(155deg, #58a948, #bfff7e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.menu_la_palette_du_gout h2 {
  font-family: 'Kalam', cursive;
  font-weight: 300;
  background-image: linear-gradient(155deg, #88c972, #72bf56);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
/*# sourceMappingURL=style.css.map */