@import "../utils/variables_mixin_index";

body{
    margin: 0px;
}

/*********** header ***********/ 

header{
    @include couleurs_vert_jaune;
    height : 80px;
    position: sticky;
    top: 0px;
    margin-bottom: 40px;
    z-index: 1000;
}

header h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
}

header a{
    text-decoration: none;
}

a:visited{
    color: #fdcb46;
}

/********** section ***********/ 

section{
    margin: 80px 60px;
    text-align: justify;
}

h2{
    text-align: center;
}

/********** footer ************/ 

footer{
    @include couleurs_vert_jaune;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    font-family: 'Montserrat Extra-light', sans-serif;
    font-weight: 200;
    font-size: 22px;
    position: sticky;
    bottom: 0px;
}

footer a{
    color:  $color-2e ;
    text-decoration: none;
}

footer a:visited{
    color: $color-2e;
}

footer p{
    padding: 0px;
    margin: 11px 0px;
}

footer p:hover{
    animation: shake 0.9s;
    animation-iteration-count: infinite;
}

@keyframes shake{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }