@import "../utils/variables_mixin_index";

html{
    background-color: #ffffff;
}

body{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 0px auto;
}

/*********** header ************/

header{
    @include couleurs_vert_jaune;
    height : 80px;
    position: sticky;
    top: 0px;
    margin-bottom: 40px;
    z-index: 1000;
}

header h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 20px;
    margin-top: 0px;
}

header a{
    text-decoration: none;
}

a:visited{
    color: #fdcb46;
}

/*********** section ***********/

main{
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
}

/********** aside ************/

aside p{
    margin: 50px;
    font-size: 25px;
}

aside a{
    @include couleurs_vert_jaune;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Montserrat Extra-light', sans-serif;
    font-weight: 200;
    text-decoration: none;
}

@keyframes animation-points {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-0.4em);
    }
  }

.anim-point1{
    @include point_jaune;
    transition-timing-function: ease-in-out;
    animation-name: animation-points;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: inline-block;
}

.anim-point2{
    @extend .anim-point1;
    animation-delay: 200ms;
}

.anim-point3{
    @extend .anim-point1;
    animation-delay: 400ms;
}

/************ footer ***********/

footer{
    @include couleurs_vert_jaune;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    font-family: 'Montserrat Extra-light', sans-serif;
    font-weight: 200;
    font-size: 22px;
    position: sticky;
    bottom: 0px;
}

footer a{
    color:  $color-2e ;
    text-decoration: none;
}

footer a:visited{
    color: $color-2e
}

footer p{
    padding: 0px;
    margin: 11px 0px;
}

footer p:hover{
    animation: shake 0.9s;
    animation-iteration-count: infinite;
}

@keyframes shake{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* ---- menu la note enchantee ---- */

.menu_la_note_enchantee{
    background-color: #fcdfdb;
    @include bordure_menu;
    @include size;
}

.menu_la_note_enchantee .fa-music{
    background-image: linear-gradient(to right ,#f05060,#f26a64,#f6916a );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
}

.menu_la_note_enchantee p{
    font-family: 'Satisfy', cursive;
    text-decoration: none;
}

.menu_la_note_enchantee h2{
    font-family: 'Rubik', sans-serif;
}

.menu_la_note_enchantee a{
    text-decoration: none;
    &:visited{
        color: black;
    }
}

.contenu{
    cursor: pointer;    
    transform: scale(1);
    transition: transform 280ms;
    &:hover {
        transform: scale(1.4);
        opacity:0.5;
        filter:alpha(opacity=50);
    }
}

/* ---- menu le chic a la francaise ---- */

.menu_Le_chic_a_la_francaise{
    background-color: #fff5fe;
    @include bordure_menu;
    @include size;
}

.menu_Le_chic_a_la_francaise p{
    font-family: 'Croissant One', cursive;
    background-image: linear-gradient(to right,#d18c3e,#b16da1,#9663fb );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu_Le_chic_a_la_francaise a{
    text-decoration: none;
    &:visited{
        background-image: linear-gradient(to right,#d18c3e,#b16da1,#9663fb );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.menu_Le_chic_a_la_francaise h2{
    font-family: 'PT Serif', serif;
    background-image: linear-gradient(to right, #d8852e,#c77412);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

/* ---- menu le delice des papilles ---- */

.menu_le_delice_des_papilles{
    background-color: #f9f9f9;
    @include bordure_menu;
    @include size;
}

.menu_le_delice_des_papilles p{
    font-family: 'Dancing Script', cursive;
    background-image: linear-gradient(to right,#1145e3,#1675f2,#3fa1fb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu_le_delice_des_papilles a{
    text-decoration: none;
    &:visited{
        background-image:linear-gradient(to right,#1145e3,#1675f2,#3fa1fb);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;    
    }
}

.menu_le_delice_des_papilles h2{
    font-family: 'Kalam', cursive;
    font-weight: 300;
    font-family: 'Dancing Script', cursive;
    background-image: linear-gradient(to right, #0887fb,#5bacf9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ---- menu la palette du gout ---- */

.menu_la_palette_du_gout{
    background-color: #fdfffd;
    @include bordure_menu;
    @include size;
}

.menu_la_palette_du_gout p{
    font-family: 'Kaushan Script', cursive;
    background-image: linear-gradient(to right,#63af54,#a4e971,#bfff7e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu_la_palette_du_gout a{
    text-decoration: none;
    &:visited{
        background-image: linear-gradient(to right,#63af54,#a4e971,#bfff7e);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;    
    }
}

.menu_la_palette_du_gout h2{
    font-family: 'Kalam', cursive;
    font-weight: 300;
    background-image: linear-gradient(to right, #88c972,#72bf56);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
}
