@media (min-width:1000px){
    section{
        width: 850px;
    }
}
@media (max-width:720px){
    .trait{
        width: 90px;
    }
    .sous_titre{
        justify-content: center;
    }
}
@media (max-width: 600px){
    .trait{
        width: 60px;
    } 
    h4{
        font-size: 19px;
        padding: 30px;
    }
}
@media (max-width:450px){
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 23px;
    }
    body p{
        font-size: 20px;
    }
    .trait{
        width: 40px;
    }
    h4{
        padding: 15px;
    }
    h3{
        font-size: 20px;
    }
    footer p{
        font-size: 17px;
    }
}
@media (max-width:250px){
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 15px;
    }
    footer p{
        font-size: 12px;
    }
    .trait{
        display: none;
    }
    td{
        font-size: 12px;
    }
}