@media (min-width:251px) and (max-width:450px){
    h1{
        font-size: 25px;
    }
    footer p{
        font-size: 17px;
    }
}
@media (min-width:50px) and (max-width:300px){
    h1{
        font-size: 20px;
    }
    footer p{
        font-size: 12px;
    }
)