html {
  background-color: #bfc9ca;
}

body {
  width: 900px;
  height: auto;
  background-color: #ffffff;
  margin: 0px auto;
}

/*********** header ************/
header {
  background-color: #579c87;
  color: #fdcb46;
  height: 80px;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 20px;
  margin-top: 0px;
}

/*********** section ***********/
section {
  text-align: center;
  margin: 0px 50px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.prochainement {
  background-color: #579c87;
  color: #fdcb46;
  padding: 13px 40px;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Montserrat Extra-light', sans-serif;
  font-weight: 200;
}

aside h2 {
  margin: 10px 0px 40px;
}

/************ footer ***********/
footer {
  background-color: #579c87;
  color: #fdcb46;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 20px;
  font-family: 'Montserrat Extra-light', sans-serif;
  font-weight: 200;
  font-size: 22px;
}

footer a {
  color: #fdcb46;
  text-decoration: none;
}

/* ---- menu la note enchantee ---- */
.menu_la_note_enchantee {
  background-color: #fcdfdb;
  -webkit-box-shadow: 4px 4px 4px 4px #eeeeee;
          box-shadow: 4px 4px 4px 4px #eeeeee;
  border: 1px solid #eeeeee;
  width: 350px;
  height: 450px;
  margin: 50px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.menu_la_note_enchantee p {
  font-family: 'Satisfy', cursive;
}

.menu_la_note_enchantee h2 {
  font-family: 'Rubik', sans-serif;
}

/* ---- menu le chic a la francaise ---- */
.menu_Le_chic_a_la_francaise {
  background-color: #fff5fe;
  -webkit-box-shadow: 4px 4px 4px 4px #eeeeee;
          box-shadow: 4px 4px 4px 4px #eeeeee;
  border: 1px solid #eeeeee;
  width: 350px;
  height: 450px;
  margin: 50px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.menu_Le_chic_a_la_francaise p {
  font-family: 'Croissant One', cursive;
}

.menu_Le_chic_a_la_francaise h2 {
  font-family: 'PT Serif', serif;
}

/* ---- menu le delice des papilles ---- */
.menu_le_delice_des_papilles {
  background-color: #f9f9f9;
  -webkit-box-shadow: 4px 4px 4px 4px #eeeeee;
          box-shadow: 4px 4px 4px 4px #eeeeee;
  border: 1px solid #eeeeee;
  width: 350px;
  height: 450px;
  margin: 50px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.menu_le_delice_des_papilles p {
  font-family: 'Dancing Script', cursive;
}

.menu_le_delice_des_papilles h2 {
  font-family: 'Kalam', cursive;
  font-weight: 300;
}

/* ---- menu la palette du gout ---- */
.menu_la_palette_du_gout {
  background-color: #fdfffd;
  -webkit-box-shadow: 4px 4px 4px 4px #eeeeee;
          box-shadow: 4px 4px 4px 4px #eeeeee;
  border: 1px solid #eeeeee;
  width: 350px;
  height: 450px;
  margin: 50px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.menu_la_palette_du_gout p {
  font-family: 'Kaushan Script', cursive;
}

.menu_la_palette_du_gout h2 {
  font-family: 'Kalam', cursive;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */